:root {
  --accent-color: #2196f3;
  --main-text-color: #757575;
  --title-color: #212121;
  --main-title-color: #ffffff;
  --first-background-color: #ffffff;
  --second-background-color: #2f303a;
  --third-background-color: #f5f4fa;
  --background: #e5e5e5;
  --first-btn-color: #212121;
  --btn-background-color: #f5f4fa;
  --second-btn-color: #ffffff;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --footer-map-color: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color);
  background: var(--background);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-color);

  margin-bottom: 50px;
}

/* ---------------------HEADER------------------------ */

.header {
  background-color: var(--first-background-color);
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-logo {
  color: var(--title-color);
}

.logo-accent {
  color: var(--accent-color);
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-nav-link {
  color: var(--title-color);
}

.current {
  color: var(--accent-color);
}
.header-contact-link {
  color: currentColor;
}

/* ---------------HERO--------------- */

.hero {
  background-color: var(--second-background-color);
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-bottom: 30px;

  color: var(--main-title-color);
}
.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;

  display: block;
  margin: 0 auto;

  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  color: var(--second-btn-color);
  background: var(--accent-color);
}

.hero-btn:hover,
.hero-btn:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* -----------------FEATURES-------------------*/

.features {
  background-color: var(--first-background-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.features-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--title-color);

  margin-bottom: 10px;
}

.features-item-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* -------------------OCCUPATION----------------------- */

.occupation {
  background-color: var(--first-background-color);

  padding-bottom: 94px;
}

/* ----------------------TEAM---------------------------- */

.team {
  background-color: var(--third-background-color);

  padding-top: 94px;
  padding-bottom: 94px;
}

.team-item {
  background: var(--first-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  padding-bottom: 30px;
}

.team-img {
  margin-bottom: 30px;
}

.team-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-color);

  margin-bottom: 10px;
}

.team-item-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

/* -----------------------FOOTER------------------------- */

.footer {
  background-color: var(--second-background-color);

  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  color: var(--main-title-color);

  margin-bottom: 20px;

  display: block;
}

.footer-item {
  margin-bottom: 9px;
}

.footer-item:last-child {
  margin-bottom: 0;
}

.footer-item-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--footer-link-color);
}

.footer-map {
  color: var(--footer-map-color);
}

.footer-item-link:hover,
.footer-item-link:focus {
  color: var(--accent-color);
}

/* ----------------------------------------------PORTFOlIO-------------------------- */

.portfolio {
  background-color: var(--first-background-color);

  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;

  color: var(--first-btn-color);
  background-color: var(--btn-background-color);
  border-radius: 4px;
  border: none;

  padding: 6px 22px;

  display: inline-block;
}

.portfolio-btn:hover,
.portfolio-btn:focus,
.current-btn {
  color: var(--second-btn-color);
  background-color: var(--accent-color);
}

.portfolio-item-img {
  background: var(--first-background-color);
  border: 1px solid #eeeeee;

  padding-bottom: 20px;
}

.portfolio-link {
  color: currentColor;
}

.portfolio-img {
  margin-bottom: 20px;
}

.portfolio-img-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--title-color);

  margin-bottom: 4px;
}

.portfolio-img-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
